{% extends 'base.html.twig' %}

{% block title %}
	Genre Page
{% endblock %}
{% block body %}
	<h2> {{ movieCount }} movies in {{ genreName }} </h2>
	<div class="genre-section">

		{% for movie in moviesInGenre %}

			{# Get id from the API field id and convert to array where the movie Id is the last element #}
			{# We use that Id to link the pages in the web app and also to request a single movie from the api #}
				{% if (movie.id is defined) %}
				{% set movieId =  movie.id|split('/') %}
					<div class="movie-item"> <a href="{{ path('single_movie', {'id': movieId|last}) }}">
						{% if movie['plprogram$thumbnails']['orig-460x320'] is defined %}

							<img src="{{ movie['plprogram$thumbnails']['orig-460x320']['plprogram$url'] }}" class="movie-thumbnail">
						{% endif %}

					<div class="movie-title">
						<h2>{{ movie.title }}</h2>
					</div>
					</a>
					{# Check if the user is logged in #}
							{% if is_granted('ROLE_USER') %}
								<p>
									<form action="{{ path('add_to_wishlist', {'id': movieId|last}) }}" method="post">
										<button type="submit">Add to Wishlist</button>
									</form>
							{% endif %}
					<span>
						<div class="movie-credits">
							<p>
								<strong>Starring:</strong>
								{% set actors = [] %}
								{% set director = '' %}
								{% for credit in movie['plprogram$credits'] %}
									{% if credit['plprogram$creditType'] == 'actor' %}
										{% set actors = actors|merge([credit['plprogram$personName']]) %}
									{% elseif credit['plprogram$creditType'] == 'director' %}
										{% set director = credit['plprogram$personName'] %}
									{% endif %}
								{% endfor %}
								{{ actors|join(', ') }}</p>
							<p>
								<strong>Director:</strong>
								{{ director }}</p>
						</div>
					</span>
				</div>
				{% endif %}
			{% endfor %}

		</div>
	{% endblock %}
