{% extends 'base.html.twig' %}

{% block title %}All Movies{% endblock %}
{% block body %}
    
    <div class="genre-section">
        {% for movie in pagination %}
            {% if movie.id is defined %}
                {% set movieId = movie.id|split('/') %}
                <div class="movie-item">
                    <a href="{{ path('single_movie', {'id': movieId|last}) }}">
                        {% if movie['plprogram$thumbnails']['orig-460x320'] is defined %}
                            <img src="{{ movie['plprogram$thumbnails']['orig-460x320']['plprogram$url'] }}" class="movie-thumbnail">
                        {% endif %}
                        <div class="movie-title">
                            <h3>{{ movie.title }}</h3> <!-- Ensure this line uses <h3> based on your CSS -->
                        </div>
                    </a>
                    {% if is_granted('ROLE_USER') %}
                        <p>
                            <form action="{{ path('add_to_wishlist', {'id': movieId|last}) }}" method="post">
                                <button type="submit">Add to Wishlist</button>
                            </form>
                        </p>
                    {% endif %}
                    <span>
                        <div class="movie-credits">
                            <p>
                                <strong>Starring:</strong>
                                {% set actors = [] %}
                                {% for credit in movie['plprogram$credits'] %}
                                    {% if credit['plprogram$creditType'] == 'actor' %}
                                        {% set actors = actors|merge([credit['plprogram$personName']]) %}
                                    {% endif %}
                                {% endfor %}
                                {{ actors|join(', ') }}
                            </p>
                            <p>
                                <strong>Director:</strong>
                                {% set director = '' %}
                                {% for credit in movie['plprogram$credits'] %}
                                    {% if credit['plprogram$creditType'] == 'director' %}
                                        {% set director = credit['plprogram$personName'] %}
                                    {% endif %}
                                {% endfor %}
                                {{ director }}
                            </p>
                        </div>
                    </span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
